<!DOCTYPE HTML>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

	<head>
		<title>Ships locations!</title>
		<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
					crossorigin="anonymous">
		<link type="text/css" rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div id="app">
			<h1 class="title">Battle Ship!</h1>
			<div class="container">
				<div id="ships" v-show="placing == true">		
					<div id="ship">					
						<div class="shipcontainer" id="containercontainer" ondrop="drop(event,this )" ondragover="allowDrop(event)">
							<img src="./images/carrier.png" draggable="true" ondragstart="drag(event)" id="carrier" @click="rotateShip('carrier')" class="normal">
							<h5>Carrier</h5>
						</div>											
					</div>
					<div id="ship">
						<div class="shipcontainer" ondrop="drop(event,this)" ondragover="allowDrop(event)">
							<img src="./images/battleship.png" draggable="true" ondragstart="drag(event)" id="battleship" @click="rotateShip('battleship')" class="normal">
							<h5>Battleship</h5>   
						</div>										
					</div>				
					<div id="ship">
						<div class="shipcontainer" ondrop="drop(event,this)" ondragover="allowDrop(event)">
							<img src="./images/destroyer.png" draggable="true" ondragstart="drag(event)" id="destroyer" @click="rotateShip('destroyer')" class="normal">
							<h5>Destroyer</h5>
						</div>								
					</div>				
					<div id="ship">
						<div class="shipcontainer" ondrop="drop(event,this)" ondragover="allowDrop(event)">
							<img src="./images/submarine.png" draggable="true" ondragstart="drag(event)" id="submarine" @click="rotateShip('submarine')" class="normal">
							<h5>Submarine</h5>  
						</div>									
					</div>			
					<div id="ship">
						<div class="shipcontainer" ondrop="drop(event,this)" ondragover="allowDrop(event)">
							<img src="./images/patrolboat.png" draggable="true" ondragstart="drag(event)" id="patrolboat" @click="rotateShip('patrolboat')" class="normal">
							<h5>PatrolBoat</h5>
						</div>								  
					</div>
				</div>
				<div>
					<h3 class="title" v-show="placing == false">{{usernames[0]}} vs. {{usernames[1]}}</h3>
					<h3 class="title" v-show="placing">Please place your Ships</h3>
					<div class="tablesContainer">
						<table class="individualTable">
							<thead>
							</thead>
							<tbody>
								<th class="gpRow"></th>
								<th v-for="column in columns" class="gridBox">{{column}}</th>
								<tr v-for="row in rows" class="gpRow">
									<th class="gridBox">{{row}}</th>
									<td v-for="column in columns" v-bind:id="'ship ' + row+column" class="shipTable gridBox" ondrop="drop(event, this)" ondragover="allowDrop(event)" class="droptarget"></td>
								</tr>
							</tbody>
						</table>
						<table class="individualTable" v-show="placing == false">
							<thead>
							</thead>
							<tbody>
								<th class="gpRow"></th>
								<th v-for="column in columns" class="gridBox">{{column}}</th>
								<tr v-for="row in rows" class="gpRow">
									<th class="gridBox">{{row}}</th>
									<td v-for="column in columns" v-bind:id="'salvo ' + row+column" class="salvoTable gridBox" @click="placeShot(row+column)"></td>
							</tbody>
						</table>
					</div>
				</div>
				<button @click="go_back">Go back</button>
				<button @click="sendSalvo" class="button wide" v-if="placing == false">Fire salvo!</button>
				<button @click="makeShipJSON" v-show="placing">Done</button>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
		<script src="scripts/game.js"></script>
	</body>
</html> 